section {
    border-width: 1px;
    border-style:  solid;
    padding: .1rem .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
section > legend {
    font-weight: bold;
    margin: .5rem 0;
    transform: translate(-.4rem, 0rem);
}
// input {
//     margin: .5em;
// }
.button-bar {
    margin: .5rem;
    &>button {
        margin-right: 1rem;
    }
}
li.list-item {
    list-style: none;
    &:not(:last-of-type) {
        margin-bottom: .5rem;
    }
    &:first-of-type {
        margin-top: .5rem;
    }
}
.error {
    font-weight: bold;
    color: red;
}
