<p>
    This page is a prototype
</p>
<section>
    <legend>Courses</legend>
    <app-race-courses [raceId]="raceId"></app-race-courses>
</section>
<section>
    <legend>Classes</legend>
    <div class="help">Configure the race classes</div>
    <button (click)="generateFfcoClasses()">Generate FFCO classes</button>
</section>
<section>
    <legend>Distribution</legend>
    <div class="help">Configure which categories run by default on which courses, where they are not allowed to run, how they are ranked etc...</div>
</section>
<section>
    <legend>Runners import</legend>
    <div class="help">Import runners</div>
    <app-file-select label="Drop registration file here" (select)="uploadRegistration($event)"></app-file-select>
</section>

