$transition: 200ms;
:host {
    &:hover {
        &.selected {
            svg {
                transform: scale(1);
                transition: transform $transition;
            }
        }
        &:not(.selected) {
            svg {
                cursor: pointer;
                transform: scale(1.2);
                transition: transform $transition;
            }
        }
    }
}

svg {
    vertical-align: middle;
}
