<div punch-body class="whole">
    <app-icon punch-icon icon="logo" routerLink="/"></app-icon>
    <header>
        <app-tabs></app-tabs>
        <div class="separator"></div>
        <app-icon punch-icon icon="undo" class="icon" title="undo"></app-icon>
        <app-icon punch-icon icon="redo" class="icon" title="redo"></app-icon>
        <app-search></app-search>
        <app-current-user></app-current-user>
        <app-icon punch-icon icon="help" class="icon" title="help"></app-icon>
    </header>
    <app-nav></app-nav>
    <app-scroll punch-main>
        <router-outlet></router-outlet>
    </app-scroll>
    <div class="rightmargin"></div>
    <footer>
        <app-notification></app-notification>
    </footer>
</div>
