<div class="whole">
    <app-icon icon="logo" routerLink="/"></app-icon>
    <header class="punch-header">
        <app-tabs></app-tabs>
        <div class="separator"></div>
        <app-icon icon="undo" class="icon" title="undo"></app-icon>
        <app-icon icon="redo" class="icon" title="redo"></app-icon>
        <app-search></app-search>
        <app-current-user></app-current-user>
        <app-icon icon="help" class="icon" title="help"></app-icon>
    </header>
    <app-nav></app-nav>
    <footer></footer>
    <div class="rightmargin"></div>
    <app-scroll>
        <router-outlet></router-outlet>
    </app-scroll>
</div>
