$margin: 5px;
:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        &>app-icon {
            padding: 10px;
            flex: 0 0;
        }
        &>div {
            flex: 1 1;
        }
    }
}

